<section class="message-panel" #myFlexBox>
  <div class="row">
    <div class="column">
      <button [hidden]="!showBackButton" (click)="storyBack()" class="message-panel__btn">
        Back
      </button>
    </div>
    <div class="column">
      <aside class="message-panel__avatar" #avatar>
        <img src="/assets/images/weddinggame-600.png" alt="">
      </aside>
    </div>
    <div class="column"></div>
  </div>
  <!-- <button  (click)="storyReset()" class="message-panel__btn">
        Reset
    </button> -->
  <div class="message-panel__messages" botChatScroll (scroll)="onScroll($event)">
    <bot-message *ngFor="let storyPoint of storyPoints" [storyPoint]="storyPoint"></bot-message>
  </div>
  <div class="message-panel__action-bar">
    <bot-action-bar [userInteraction]="currentUserInteraction"></bot-action-bar>
  </div>
</section>